############################################################
##################### Add Instruction ######################
############################################################

#description
Assembler Keyword:add

#description
Instruction Id:1


############################################################
################### Subtract Instruction ###################
############################################################

#description
Assembler Keyword:sub

#description
Instruction Id:2


############################################################
#################### Divide Instruction ####################
############################################################

#description
Assembler Keyword:div

#description
Instruction Id:7


############################################################
################### Multiply Instruction ###################
############################################################

#description
Instruction Id:8

#description
Assembler Keyword:mul


############################################################
#################### Input Instruction #####################
############################################################

#description
Instruction Id:9

#description
Assembler Keyword:inp
