############################################################
##################### Pass Instruction #####################
############################################################

#description
Instruction Id:0

#description
Assembler Keyword:pss


############################################################
##################### Add Instruction ######################
############################################################

#description
Assembler Keyword:add

#description
Instruction Id:1


############################################################
################### Subtract Instruction ###################
############################################################

#description
Assembler Keyword:sub

#description
Instruction Id:2


############################################################
################## Increment Instruction ###################
############################################################

#description
Instruction Id:3

#description
Assembler Keyword:inc


############################################################
#################### Equals Instruction ####################
############################################################

#description
Instruction Id:4

#description
Assembler Keyword:equ


############################################################
################### Greater Instruction ####################
############################################################

#description
Instruction Id:5

#description
Assembler Keyword:grt


############################################################
##################### Less Instruction #####################
############################################################

#description
Instruction Id:6

#description
Assembler Keyword:lss


############################################################
################### Multiply Instruction ###################
############################################################

#description
Instruction Id:7

#description
Assembler Keyword:mul


############################################################
#################### Divide Instruction ####################
############################################################

#description
Instruction Id:8

#description
Assembler Keyword:div


############################################################
#################### Input Instruction #####################
############################################################

#description
Instruction Id:9

#description
Assembler Keyword:inp


############################################################
##################### Copy Instruction #####################
############################################################

#description
Instruction Id:10

#description
Assembler Keyword:cpy


############################################################
##################### Jump Instruction #####################
############################################################

#description
Instruction Id:13

#description
Assembler Keyword:jmp